body {
  margin: 4%;
  background-color: #fff;
  color: #101010;
}

.form-control {
  margin-bottom: 8px;
  border-radius: 0;
}

.btn {
  border-radius: 0;
  text-decoration: none;
}

.list-group .list-group-item {
	border-radius: 0 !important;
}

.list-group {
	margin-bottom: 10px;
}

.active {
  background: lightgray;
}

ol, ul {
  padding-left: 1.5em;
}

#version-table {
  table-layout: fixed;
  word-wrap: break-word;
}

.tree ul, .tree li {
  position: relative;
}

.tree ul {
 list-style: none;
}

.tree li::before, .tree li::after {
 content: "";
 position: absolute;
 left: -12px;
}

.tree li::before {
 border-top: 1px solid #000;
 top: 10px;
 width: 8px;
 height: 0;
}

.tree li::after {
 border-left: 1px solid #000;
 height: 100%;
 width: 0px;
 top: 2px;
}

.tree ul > li:last-child::after {
 height: 8px;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid black;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nowrap {
  white-space: pre-wrap;
}

.new-block {
  transform: rotate(0);
}

.icon {
  display: inline flex;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-size: contain;
}

.i-koji {
  background-image: url(../images/16_koji.png);
}

.i-bodhi {
  background-image: url(../images/16_bodhi.png);
}

.i-bugzilla {
  background-image: url(../images/16_bugzilla.png);
}

.i-git {
  background-image: url(../images/git-logo.png);
}

.i-abrt {
  background-image: url(../images/16_abrt.png);
}

.i-koschei {
  background-image: url(../images/24_koschei.png);
}
