html {
  font-family: "et-book", serif;
}

body {
  margin: 4%;
  background-color: #fffff5;
  color: #101010;
}

.form-control {
  margin-bottom: 8px;
  border-radius: 0;
}

.btn {
  border-radius: 0;
  text-decoration: none;
}

.page {
  width: 400px;
  margin: auto;
}

.text-center {
	text-align: center;
}

#logo {
	text-align: center;
}
