body {
  margin: 4%;
  background-color: #fff;
  color: #101010;
}

.form-control {
  margin-bottom: 8px;
  border-radius: 0;
}

.btn {
  border-radius: 0;
  text-decoration: none;
}

.page {
  width: 400px;
  margin: auto;
}

.text-center {
	text-align: center;
}

#logo {
	text-align: center;
}

.list-group .list-group-item {
	border-radius: 0 !important;
}

.list-group {
	margin-bottom: 10px;
}

.max-width {
	width: 100%;
}

.active {
  background: lightgray;
}

ol, ul {
  padding-left: 1.5em;
}

#version-table {
  table-layout: fixed;
  word-wrap: break-word;
}

.tree ul, .tree li {
  position: relative;
}

.tree ul {
 list-style: none;
}

.tree li::before, .tree li::after {
 content: "";
 position: absolute;
 left: -12px;
}

.tree li::before {
 border-top: 1px solid #000;
 top: 9px;
 width: 8px;
 height: 0;
}

.tree li::after {
 border-left: 1px solid #000;
 height: 100%;
 width: 0px;
 top: 2px;
}

.tree ul > li:last-child::after {
 height: 8px;
}
