<!DOCTYPE html>
<html>
	<head>
		<title>Fedora packages</title>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
	</head>
	<body>
		<div class="page">
			<div id="logo">
				<img src="assets/images/logo.png">
			</div>
			<ul>
				{% for name in packages %}
				<ul><a href="pkgs/{{ name }}/">{{ name }}</a></ul>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>
