{% extends "layout.html.j2" %}

{% block title %}"{{ prefix }}" Index - Fedora Packages{% endblock %}

{% block content %}
  <h3 class="text-center">Packages that start with "{{ prefix }}".</h3>

  <p class="text-center">
    <a href="index.html">Back to the packages index &crarr;</a>
  </p>

  <ul>
  {% for package in packages %}
    <li><a href="pkgs/{{ package }}/index.html">{{ package }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
