{% extends "layout.html.j2" %}

{% block title %}Index - Fedora Packages{% endblock %}

{% block content %}
  <h2 class="text-center">Index</h2>

  <p class="text-center">
    <a href="index.html">Back to the main page &crarr;</a>
  </p>

  <p id="prefix" class="text-center">
    {% for prefix in prefix_index %}
      <a href="./index/{{ prefix }}.html">{{ prefix }}</a>
    {% endfor %}
  </p>
{% endblock %}

{% block footer %}
  <div>Last refreshed on {{ date }} ({{ package_count }} packages).</div>
  <div>Sources on <a href="https://pagure.io/fedora-packages-static">Pagure</a>.</div>
{% endblock %}
