<!DOCTYPE html>
<html>
	<head>
		<title>Fedora packages</title>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	</head>
	<body>

		<h1>Fedora packages</h1>
		<form action="http://yacysearchserver-pkgs-playground.apps.os.fedorainfracloud.org/yacysearch.html" method="get">
			<input type="search" placeholder="Search" name="query" aria-label="Search">
			<button  type="submit">Search</button>
		</form>

		<h2>Useful links</h2>
		<ul>
			<li>Bhodi</li>
			<li>Koji</li>
			<li>Bugzilla</li>
			<li>Dist-git</li>
		</ul>

		<h2>Stats</h2>
		<ul>
			<li>Generated on: ???</li>
			<li>Package count: ???</li>
			<li>Releases: ???</li>

		</ul>
	</body>
</html>
