<!DOCTYPE html>
<title>{% block title %}Fedora Packages{% endblock %}</title>
<link rel="stylesheet" href="{{ link_prefix }}assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ link_prefix }}assets/css/main.css">
<link href="https://apps.fedoraproject.org/global/fedora-bootstrap-fonts/open-sans.css" type="text/css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<div class="container">
  <div class="p-3 justify-content-center row">
    <a href="{{ link_prefix }}index.html">
      <img src="{{ link_prefix }}assets/images/logo.png">
    </a>
  </div>

  {% block content %}
  {% endblock %}

  <div class="text-muted text-center">
    {% block footer %}
    Sources on <a href="https://pagure.io/fedora-packages-static">Pagure</a>.</div>
    {% endblock %}
  </div>
</div>

