<!DOCTYPE html>
<html>
	<head>
		<title>Package: {{name}}</title>
		<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../assets/css/main.css">
	</head>
	<body>
		<div class="page-large">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="../../assets/images/logo.png" style="margin-top: -30px;">
					</div>
					<div class="col-md-6">
						<form action="http://yacysearchserver-pkgs-playground.apps.os.fedorainfracloud.org/yacysearch.html" method="get">
							<div class="form-row">
								<div class="form-group col-md-8">
									<input class="form-control" type="search" placeholder="Search" name="query" aria-label="Search">
								</div>
								<div class="form-group col-md-4">
									<button class="btn btn-primary btn-block" type="submit">Search &raquo;</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<hr />

			<h1>{{name}}</h1>
			<p class="text-muted">{{summary}}</p>
			<ul class="list-group list-group-horizontal-lg">
				<li class="list-group-item max-width">Bodhi</li>
				<li class="list-group-item max-width">Bugzilla</li>
				<li class="list-group-item max-width">FAF</li>
				<li class="list-group-item max-width">Koji</li>
				<li class="list-group-item max-width">SCM</li>
			</ul>
			<p>{{description}}</p>
			<hr />
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Release</th>
									<th scope="col">Version</th>
									<th scope="col">Changelog</th>
								</tr>
							</thead>
							<tbody>
								<tr scope="row">
									<td>Rawhide</td>
									<td>{{version}}-{{release}}</td>
									<td>-</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<ul>
							<li>Upstream: <a href="{{upstream}}">{{upstream}}</a></li>
							<li>License(s): {{license}}</li>
							<li>Maintainer(s): ???</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
