<!DOCTYPE html>
<html>
	<head>
		<title>Package: {{name}}</title>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	</head>
	<body>
		<h1>Package: {{name}}</h1>

		<ul>
			<li>Summary: {{summary}}</li>
			<li>description: {{description}}</li>
			<li>maintainer: </li>
			<li>upstream: </li>
			<li>license: </li>
		</ul>

		<h2>Useful links</h2>
		<ul>
			<li>bodhi</li>
		</ul>
	</body>
</html>
