<!DOCTYPE html>
<html>
	<head>
		<title>{{ pkg.name }}-{{ pkg.get_release(release)[branch]['revision'] }} - Fedora Packages</title>
		<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../assets/css/main.css">
		<link href="https://apps.fedoraproject.org/global/fedora-bootstrap-fonts/open-sans.css" type="text/css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<a href="/" class="col-md-6 d-flex align-items-center justify-content-center justify-content-md-start p-1">
					<img src="../../assets/images/logo.png">
				</a>
				<div class="col-md-6 d-flex align-items-center">
					<form class="w-100" action="/search" method="get">
						<div class="form-row flex-grow-1">
							<div class="col-md-8">
								<input class="form-control" type="search" placeholder="Search" name="query" aria-label="Search">
							</div>
							<div class="col-md-4">
								<button class="btn btn-primary btn-block" type="submit">Search &raquo;</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<hr />

			<h1>
				{{ pkg.name }}-{{ pkg.get_release(release)[branch]['revision'] }}<small class="text-muted"> in {{ pkg.releases[release]['human_name'] }}</small>
			</h1>
			<p>
			This page displays detailed information for version {{ pkg.get_release(release)[branch]['revision'] }} of {{ pkg.name }}. You might
			want go back to <a href=".">the main page of {{ pkg.name }}</a>.
			</p>

			<h2>Changelog</h2>
			<div class="table-responsive">
				<table class="table table-striped table-borderless ">
				<thead>
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Author</th>
						<th scope="col">Change</th>
					</tr>
				</thead>
				{% for entry in changelog|sort(attribute="timestamp", reverse=True) %}
				<tr scope="row">
					<td>{{ entry.date }}</td>
					<td>{{ entry.author }}</td>
					<td>{{ entry.change }}</td>
				</tr>
				{% endfor %}
				<tbody>
				</tbody>
			</table>
			</div>

			{% if files|length != 0 %}
			{% macro gentree(files) -%}
			<ul>
				{% for dir in files|sort %}
				<li>
					{% if files[dir] is mapping %}
					<span>{{ dir }}/</span>
					{{ gentree(files[dir]) }}
					{% else %}
					<span>{{ dir }}</span>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			{%- endmacro %}
			<h2>Files</h2>

			<div class="tree">
				{{ gentree(files) }}
			</div>
			{% endif %}
		</div>
	</body>
</html>


