<!DOCTYPE html>
<html>
	<head>
		<title>Fedora packages</title>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
	</head>
	<body>
		<div class="page">
			<div id="logo">
				<img src="assets/images/logo.png">
			</div>
			<form action="http://yacysearchserver-pkgs-playground.apps.os.fedorainfracloud.org/yacysearch.html" method="get">
				<div class="form-row">
					<div class="form-group col-md-8">
						<input class="form-control" type="search" placeholder="Search" name="query" aria-label="Search">
					</div>
					<div class="form-group col-md-4">
						<button class="btn btn-primary btn-block" type="submit">Search &raquo;</button>
					</div>
				</div>
			</form>

			<p class="text-center">
				<a href="https://apps.fedoraproject.org/">Back to the application index &crarr;</a>
			</p>

			<p class="text-muted text-center">
			Last refreshed on {{ date }} ({{ package_count }} packages). Sources on
			<a href="https://pagure.io/fedora-packages-static">Pagure</a>.
			</p>
		</div>
	</body>
</html>
