<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% for package in packages %}
	<url>
		<loc>{{ url ~ '/pkgs/' ~ package[0] ~ '/' ~ package[1] }}</loc>
	</url>
	{% endfor %}
</urlset>
