{% extends "layout.html.j2" %}
{% set link_prefix = "../../" %}
{% set full_header = True %}

{% block title %}{{ name }} - Fedora Packages{% endblock %}

{% block content %}
<h1>Souce Package {{ name }}</h1>

<ul class="list-group list-group-horizontal-lg">
	<li class="list-group-item w-100">
		<a href="http://koji.fedoraproject.org/koji/search?match=glob&type=package&terms={{ pkg.source }}">
			<img src="{{ link_prefix }}assets/images/16_koji.png" height="16" width="16">
			Builds
		</a>
	</li>
	<li class="list-group-item w-100">
		<a href="https://bodhi.fedoraproject.org/updates/?packages={{ pkg.source }}">
			<img src="{{ link_prefix }}assets/images/16_bodhi.png" height="16" width="16">
			Updates
		</a>
	</li>
	<li class="list-group-item w-100">
		<a href="https://bugzilla.redhat.com/buglist.cgi?component={{ pkg.source }}&query_format=advanced&product=Fedora&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED">
			<img src="{{ link_prefix }}assets/images/16_bugzilla.png" height="16" width="16">
			Bugs
		</a>
	</li>
	<li class="list-group-item w-100">
		<a href="https://src.fedoraproject.org/rpms/{{ pkg.source }}">
			<img src="{{ link_prefix }}assets/images/git-logo.png" height="16" width="16">
			Sources
		</a>
	</li>
	<li class="list-group-item w-100">
		<a href="https://retrace.fedoraproject.org/faf/problems/?component_names={{ pkg.source }}">
			<img src="{{ link_prefix }}assets/images/16_abrt.png" height="16" width="16">
			Crash Reports
		</a>
	</li>
	<li class="list-group-item w-100">
		<a href="https://koschei.fedoraproject.org/package/{{ pkg.source }}">
			<img src="{{ link_prefix }}assets/images/24_koschei.png" height="16" width="16">
			Koschei
		</a>
	</li>
</ul>

<hr>

<div>
  <h2>Subpackages</h2>
  <ul>
    {% if name in children %}
    <li><b><a href="./{{ name }}">{{ name }}</a></b> - {{ children[name]['summary'] }}</li>
    {% endif %}
    {% for child in children %}
    {% if children[child].name != name %}
    <li><a href="./{{ children[child].name }}">{{ children[child].name }}</a> - {{ children[child].summary }}</li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
