<!DOCTYPE html>
<html>
	<head>
		<title>{{ name }} - Fedora Packages</title>
		<link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../assets/css/main.css">
		<link href="https://apps.fedoraproject.org/global/fedora-bootstrap-fonts/open-sans.css" type="text/css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body>
	<div class="container">
		<div class="row">
			<a href="/" class="col-md-6 d-flex align-items-center justify-content-center justify-content-md-start p-1">
				<img src="../../assets/images/logo.png">
			</a>
			<div class="col-md-6 d-flex align-items-center">
				{% if search_backend %}
				<form class="w-100" action="/search" method="get">
					<div class="form-row flex-grow-1">
						<div class="col-md-8">
							<input class="form-control" type="search" placeholder="Search" name="query" aria-label="Search">
						</div>
						<div class="col-md-4">
							<button class="btn btn-primary btn-block" type="submit">Search &raquo;</button>
						</div>
					</div>
				</form>
				{% endif %}
			</div>
		</div>

		<hr />

		<div class="container">
			<h1>Souce Package {{ name }}</h1>

			<ul class="list-group list-group-horizontal-lg">
				<li class="list-group-item w-100">
					<a href="https://bodhi.fedoraproject.org/updates/?packages={{ name }}">
						<img src="../../assets/images/16_bodhi.png" height="16" width="16">
						Bodhi
					</a>
				</li>
				<li class="list-group-item w-100">
					<a href="https://bugzilla.redhat.com/buglist.cgi?component={{ name }}&query_format=advanced&product=Fedora&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED">
						<img src="../../assets/images/16_bugzilla.png" height="16" width="16">
						Bugzilla
					</a>
				</li>
				<li class="list-group-item w-100">
					<a href="https://retrace.fedoraproject.org/faf/problems/?component_names={{ name }}">
						<img src="../../assets/images/16_abrt.png" height="16" width="16">
						FAF
					</a>
				</li>
				<li class="list-group-item w-100">
					<a href="http://koji.fedoraproject.org/koji/search?match=glob&type=package&terms={{ name }}">
						<img src="../../assets/images/16_koji.png" height="16" width="16">
						Koji
					</a>
				</li>
				<li class="list-group-item w-100">
					<a href="https://src.fedoraproject.org/rpms/{{ name }}">
						<img src="../../assets/images/git-logo.png" height="16" width="16">
						SCM
					</a>
				</li>
			</ul>

			<hr>

			<div>


				<h2>Subpackages</h2>
				<ul>
					{% if name in children %}
					<li><b><a href="./{{ name }}">{{ name }}</a></b> - {{ children[name]['summary'] }}</li>
					{% endif %}
					{% for child in children %}
					{% if children[child].name != name %}
					<li><a href="./{{ children[child].name }}">{{ children[child].name }}</a> - {{ children[child].summary }}</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
</html>
